.featured-event-list {
    position: relative;
    /* top:50px; */
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    height:90vh;
  }
  .featured-event-list .slide {
    display: inline-block;
    width: 100%; /* Adjust the width of each slide */
    margin-right: 20px; /* Adjust the spacing between slides */
  }

  .featured-event-list .slide img {
    width: 100%;
    height: auto;
  }
  
  .featured-event-list .slide h2,
  .featured-event-list .slide p {
    margin: 10px 0;
  }
  
  
  .featured-event-list .slide img {
    width: 100%;
    height: auto;
  }
  
  .featured-event-list .slide h2,
  .featured-event-list .slide p {
    color: aliceblue;
    margin: 10px 0;
    /* align-self: center; */
    /* background-color: aqua; */
  }
  
  .featured-event-list .caption{
    position: relative;
    top:-40vh;
    width:30vw;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: black;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 60px #00ffff;

  }

  .featured-event-list ::-webkit-scrollbar {
    width: 60px; /* Width of the scrollbar */
    background-color: transparent;
  }
  
  /* Track */
  .featured-event-list ::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
  }
  
  /* Thumb */
  .featured-event-list ::-webkit-scrollbar-thumb {
    /* background-color: #00ffff; Cyan thumb color */
    border-radius: 2px;
    background:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(4,14,152,1) 100%); /* Curved border */
  }