.taskbar {
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(231, 20, 20); */
    background:linear-gradient(90deg, rgba(34, 192, 195, 0.2) 0%, rgba(4, 14, 152, 0.2) 100%);
    /* box-shadow: 0px 0px 30px #00ffff; */
    outline: 1px solid #2b9962;
    margin:10px;
    border-radius: 12px;

  }
  .taskbar button {
    margin:12px 5px;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #161616;
    border:1px solid #00ffff;
    color: #00ffff;
    cursor: pointer;
  }
  .taskbar button:hover {
    background-color: #00ffff;
    border:1px solid #161616;
    font-weight: bolder;
    color:black;
  }

  .taskbar .logo {
    margin-right:65vw;
    margin-left:1%;
    color:azure;
}

.taskbar .logo img{
  height: 60px;
  /* margin-left:2%; */
  margin-top:5px;
  color:azure;
}