
.my-bookings{
  
  height: 100vh;
}
.head{
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 60px #00ffff;
    background-color: #161616;
    height:20px;
}
.buttons-head{
  display: flex;
  justify-content: space-between;
  width: 15%;
}
.head h2{
    color:aqua;
}

.head #bookings-button {
    display: block;
    width: fit-content;
    color: #00ffff;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    border: 0;
    outline: 1px solid #00ffff;
    border-radius: 8px;
    line-height: 1;
    cursor: pointer;
    transition: all ease-in-out .3s;
  }
  
  #bookings-button:hover {
    transition: all ease-in-out .3s;
    background-color: #00ffff;
    color: #161616;
    cursor: pointer;
  }